.block {}

.our-services {
    background-color: $malibu;
    padding: 180px 0 150px;

    // .our-services__info

    &__info {
        color: $color-white;
    }

    // .our-services__img

    &__img {}
}


.features {

    // .features__list

    &__list {
        list-style-type: none;
    }

    // .features__item

    &__item {
        text-decoration: none;
        margin-bottom: 20px;

        :last-child {
            margin-bottom: 0;
        }
    }
}

.item {
    background-color: $color-white;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 12px $color-black;
    // .item__link

    &__link {
        text-decoration: none;
        display: block;
        padding: 37px 30px;
        width: 300px;
        text-align: center;

        &-high {
            padding: 25px 30px;
        }

        &_svg {
            width: 100px;
            padding: 25px 0;
            padding: 0 23px;

            &::after {
                display: block;
                position: relative;
                content: '';
                height: 1px;
                width: 98px;
                background-color: $color-black;
                transform: rotate(90deg);
                right: 74px;
                bottom: 30px;
            }
        }
    }

    // .item__strong

    &__strong {
        font-family: $font-secondary;
        color: $color-black;
    }

    &__svg {
        width: 100%;
    }
}

.block-right {
    position: relative;

    &__img {
        position: absolute;
        @include position-center;
        z-index: 10;
    }

    &__title {
        position: relative;
        z-index: 20;
    }
}
