.block {}

.subscribe {
    @include bg-cover($bg-image-2);
    padding: 140px 0 160px;

    &__wrapper {}

    // .subscribe__message

    &__title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    &__message {
        max-width: 570px;
        margin-bottom: 30px;
    }

    // .subscribe__form

    &__form {
        display: flex;
        align-items: center;
    }

    // .subscribe__form-group

    &__form-group {}

    // .subscribe__form-input

    &__form-input {
        font-size: 15px;
        padding: 22px 15px;
        display: block;
        min-width: 570px;
        width: 100%;
    }

    // .subscribe__form-submit

    &__form-submit {
        display: inline-block;
        color: $color-white;
        font-size: 20px;
        padding: 20px 30px;
        border: 1px solid transparent;
        text-transform: uppercase;
        margin-left: $default-gap * 2;
        background-color: $atlantis;
    }
}


.page {

    // .page__title

    &__title {}
}
